/bin

### Go ###
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

### Go Patch ###
/vendor/

### test report ###
/unit-tests.xml
/unit-tests-acc.xml
/cover.out
/cover.out.tmp
/cover-acc.out

### coverage folder inside pkg ###
!pkg/coverage

### ide settings ###
.vscode
.idea

### terraform provider/tfstate ###
.terraform
*.tfstate*
!pkg/iac/**/*.tfstate*

### driftctl
/.driftignore

CHANGELOG.md
