html, body, div, span, h1, h2, p, pre, a, code, img, ul, li, form, label, table, tbody, thead, tr, th, td, header, section, button {
    border: 0;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

body {
    background-color: #f7f7f9;
    color: #1c1e21;
    font-family: Helvetica, sans-serif;
    padding-bottom: 50px;
}

form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
}

h2 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}

header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px 0;
}

#brand_logo {
    margin-right: 20px;
    width: 100px;
    height: 81px;
    display: inline-block;
}

#brand_logo svg {
    width: 100%;
    height: 100%;
}

input::placeholder {
    color: #ccc;
    opacity: 1;
}

main {
    background-color: #fff;
    border-top: 3px solid #71b2c3;
    box-shadow: 0 0 5px #0000000a;
    padding: 25px;
}

section {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 0 5px #0000000a;
    color: #747578;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    margin-bottom: 20px;
    padding: 15px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 97% 50%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

tbody, ul, .table-body {
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    border-top: 1px solid #ececec;
    border-radius: 3px;
    display: block;
}

ul {
    list-style: none;
}

[role="tab"] {
    background: transparent;
    border-radius: 3px;
    color: #747578;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    margin: 4px;
    padding: 10px 20px;
}

[role="tab"]:hover {
    background-color: #f9f9f9;
}

[role="tab"][aria-selected="true"] {
    background: #71b2c3;
    color: #fff;
}

[role="tablist"] {
    display: flex;
    flex-direction: column;
}

[role="tabpanel"] {
    -webkit-animation: fadein .8s;
    animation: fadein .8s;
    width: 100%;
    overflow: scroll;
}

[role="tabpanel"].is-hidden {
    opacity: 0;
}

input[type="reset"] {
    background-color: transparent;
    border: none;
    color: #5faabd;
    cursor: pointer;
    font-size: 14px;
    height: 34px;
    margin: 5px;
    width: 100px;
}

input[type="search"], select {
    border: 1px solid #ececec;
    border-radius: 3px;
    color: #6e7071;
    font-size: 14px;
    height: 36px;
    margin: 5px;
    max-width: 300px;
    padding: 8px;
    width: 100%;
}

.card {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px 0;
}

.code-box {
    background: #eee;
    border-radius: 3px;
    color: #747578;
    display: flex;
    margin-top: 20px;
}

.code-box-line {
    line-height: 30px;
    overflow-x: auto;
    padding: 10px;
    width: 100%;
}

.code-box-line-create {
    background-color: #22863a1a;
    border-radius: 3px;
    color: #22863a;
    padding: 3px;
}

.code-box-line-delete {
    background-color: #bf404a17;
    border-radius: 3px;
    color: #bf404a;
    padding: 3px;
    text-decoration: line-through;
}

.congrats {
    color: #4d9221;
    text-align: center;
    margin: 50px 0;
}

.container {
    margin: auto;
    max-width: 100%;
    width: 1280px;
}

.div-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.div-right {
    margin: 12px 0;
    text-align: center;
}

.empty-panel {
    color: #747578;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-weight: 600;
    justify-content: center;
    padding: 25px;
}

.fraction {
    background: #e8e8e8;
    border-radius: 3px;
    color: #555;
    font-size: 12px;
    margin-left: 5px;
    padding: 4px 5px;
}

.panels {
    padding: 10px;
    width: 100%;
}

.provider {
    font-size: 14px;
    font-weight: 600;
    margin: 5px 0;
}

.resource-item {
    border-bottom: 1px solid #ececec;
    color: #6e7071;
    font-size: 14px;
    padding: 15px;
}

.resource-item:hover {
    background-color: #f9f9f9;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.strong {
    color: #333;
    font-weight: 700;
    margin-left: 5px;
}

.table-header {
    color: #747578;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.tabs-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.is-hidden {
    display: none;
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (min-width: 768px) {
    form {
        flex-direction: row;
    }

    header {
        height: 130px;
        padding: 0 50px;
        flex-direction: row;
        justify-content: space-between;
    }

    section {
        flex-direction: row;
        justify-content: space-around;
    }

    [role="tab"] {
        font-size: 18px;
    }

    [role="tablist"] {
        flex-direction: row;
    }

    .card {
        margin: 0;
    }

    .div-right {
        text-align: right;
    }

    .panels {
        padding: 20px;
    }
}
